<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.7.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="http://openlayers.org/en/v3.7.0/build/ol.js" type="text/javascript"></script>
    <title>Foodtrucks</title>
  </head>
  <body>
    <h2>Foodtrucks</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var vectorSource = new ol.source.Vector({
      //create empty vector
      });

      var lonmin = undefined;
      var lonmax = undefined;
      var latmin = undefined;
      var latmax = undefined;      
      {% for loc in locs %}
      {
        var lon = {{ loc.lon }};
        var lat = {{ loc.lat }};
	if (lonmin === undefined || lon < lonmin) lonmin = lon;
        if (lonmax === undefined || lon > lonmax) lonmax = lon;
        if (latmin === undefined || lat < latmin) latmin = lat;
        if (latmax === undefined || lat > latmax) latmax = lat;
        var name = '{{ loc.name }}';
        var iconFeature = new ol.Feature({
          geometry: new  
          ol.geom.Point(ol.proj.transform([lat,lon], 'EPSG:4326', 'EPSG:900913')),
          name: name,
        });
        vectorSource.addFeature(iconFeature);
      }
      {% endfor %}

      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
          anchor: [0.5, 46],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          opacity: 0.75,
          scale: 0.25,
          //src: 'http://ol3js.org/en/master/examples/data/icon.png'
          src: 'https://d30y9cdsu7xlg0.cloudfront.net/png/5363-200.png'
        }))
      });

      var vectorLayer = new ol.layer.Vector({
        source: vectorSource,
        style: iconStyle
      });

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM({}),
          }),
          vectorLayer,
        ],
        view: new ol.View({
          center: ol.proj.transform([(latmin+latmax)/2, (lonmin+lonmax)/2], 'EPSG:4326', 'EPSG:900913'),
          zoom: 15
        })
      });
    </script>
  </body>
</html>
